.team-row .team-code {
  color: black;
}

.team-row .team-score {
  color: black;
}

.teams {
    padding: 1rem;;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius : 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}