.teams-team-page {
    max-width: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.team-stats-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    max-width: 100%;
    margin: 10px 0;
}

.team-stats-row > * {
    flex: 1;
    max-width: calc(50% - 1rem);
}